.mr-5{
  margin-right:5px;
}

.mr-5:hover {
  cursor: pointer;
}

.height-20{
  height: 35px;
}

.float-right{
  float: right;
  margin-bottom:0px; 
}
.mt-15px{
  margin-top: 15px;
}
.text-align-center th{
  text-align: center;
}